{% extends "paragraph.html.twig" %}

{% block content %}
<div class="wdn-band wdn-hero">
  <div class="wdn-hero-text-container locate-{{ content.field_horizontal_orientation.0["#plain_text"]|lower }}">
    <div class="wdn-hero-text">
      <h2 class="wdn-hero-heading"><span class="wdn-hero-initial-line">{{ content.field_hero_initial_line }}</span> <span class="wdn-hero-impact-line">{{ content.field_hero_impact_line }}</span></h2>
      {{ content.field_hero_link }}
    </div>
  </div>
  {% if content.field_hero_video %}
  {{ content.field_hero_video }}
  {% endif %}
  <div class="wdn-hero-picture">
    {{ content.field_hero_picture }}
  </div>
</div>
{% endblock %}
